.formulario {
    display: grid;
    flex-direction: column;
    gap: 10px;
}

.formulario input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.formulario input[type="submit"]{
    background-color: #457b9d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.formulario input[type="submit"]:hover{
    background-color: #1d3557;
}
.formulario input[type="submit"]:active{
    background-color: #457b9d;
}
.formulario input[type="submit"]:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
.formulario select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}